/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/


  body {
 	color:red;
 	border: 5px solid yellow;
 }
 .newsfeed .dimmed {
	color: #E98E2C; 
}
 .compliments {
      color:red;
      }
 .clock .dimmed {
	color: blue; 
}
.clock .time {
                      font-size:60px;
                      color:purple; 
}
.clock .date {
                     font-size:30px;
                     color:red; 
}
